@import "tailwindcss";

.terminal-scroll::-webkit-scrollbar {
  width: 6px;
}

.terminal-scroll::-webkit-scrollbar-track {
  background: black;
}

.terminal-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 128, 0.45);
  border-radius: 6px;
}

.terminal-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 128, 0.8);
}

.terminal-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 128, 0.45) black;
}

/* GSAP ANIMATIONS */

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.codepen.io/16327/PPMori-Regular.woff) format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   font-family: "Space Mono", monospace;
  background: #0e100f;
  text-align: center;
  color: #dfdcff;
  line-height: 1;
}

.text-scramble__content {
  max-width: 40ch;
  font-size: max(2rem, min(5.69579vw + 0.665049rem, 3rem));
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.1;
  margin-top: max(2rem, min(2.0712vw + 1.51456rem, 4rem));
  padding-bottom: 1.1em;
  position: relative;
}

.text-scramble__text {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.text-scramble__text span {
  word-break: break-word;
}

.text-scramble__text img {
  display: inline-block;
  height: 0.9em;
  width: auto;
}

.nav-link {
  transition: all 400ms ease;
}
