@import "tailwindcss";

.terminal-scroll::-webkit-scrollbar {
  width: 6px;
}

.terminal-scroll::-webkit-scrollbar-track {
  background: black;
}

.terminal-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 128, 0.45);
  border-radius: 6px;
}

.terminal-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 128, 0.8);
}

.terminal-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 128, 0.45) black;
}

.nav-link {
  transition: all 400ms ease;
}
